extends common/header

block title
	title 後台 | 自主開課平台

block body
	body.index-body
		div.wrapper
			h1.title-admin
				| 自主開課平台 | 高大通識中心
			div.container_nav#con_nav
				nav
					ul
						li
							a(href="/logout").nav.login-link
								i.fa.fa-user
								| 登出
						li
							a(href="/admin") 系統設定
						li
							a(href="/admin/posts") 最新消息
			div.container.bounceInUp.animated.home-page-container
				form(method="post", action="/admin/option")
					if(opt.isOpen)
						if(opt.isOpen === false)
							input(type="checkbox", name="isOpen").checkbox
							|  啟用本系統
						else
							input(type="checkbox", name="isOpen", checked).checkbox
							|  啟用本系統
					else
						input(type="checkbox", name="isOpen", checked).checkbox
							|  啟用本系統
					input(type="submit", value="儲存").button.full.ok
		include common/footer
