extends common/header

block title
	title 後台 | 自主開課平台

block body
	body.index-body
		div.wrapper
			h1.title-admin
				| 自主開課平台 | 高大通識中心
			div.container_nav#con_nav
				nav
					ul
						li
							a(href="/logout").nav.login-link
								i.fa.fa-user
								| 登出
						li
							a(href="/admin") 系統設定
						li
							a(href="/admin/posts") 最新消息
		include common/footer
