extends common/header

block title
	title 後台 | 自主開課平台

block body
	body.index-body
		div.wrapper
			h1.title-admin
				| 自主開課平台 | 高大通識中心
			nav
				ul
					li 系統設定
					li 最新消息
		include common/footer