extends common/header

block title
	title 自主開課平台

block body
	body.login-body
		div.login-wrapper.bounceInDown.animated
			h1 自主開課平台尚未開放
			h3 抱歉，目前不是自組開課平台開放時間，有任何問題敬請聯絡通識教育中心，謝謝。
		include common/footer