extends common/header

block title
	title 自主開課平台 | 高大通識中心
block body
	body.index-body
		div.wrapper
			h1.title-admin
				| 自主開課平台 | 高大通識中心
			include common/nav
			div.container.bounceInUp.animated.home-page-container
				p 有想修的課，學校卻沒有開的嗎？
				p 快推薦課程，讓通識中心來幫你開課！
				p 開課四步驟，開課就是這麼easy！
				ol.open-course-steps
					li 申請課程，進入連署程序
					li 超過3人以上連署，通識中心即會開始審查課程
					li 審查通過，進入投票程序
					li 超過10個人投票，開始媒合授課老師，未來這門課就有可能變成通識課程唷！
				div.news-container
					h2 最新消息
					ul.news-list
						li.news
							a(href='#')
								div.news-date
									i.fa.fa-calendar-o.fa-fw(aria-hidden='true')
									| 2017/02/27
								div.news-title 測試消息，好長好長好長，很高興優秀超級優秀，莫那魯道12342343243243243242344
								div.clear
						li.news
							a(href='#')
								div.news-date
									i.fa.fa-calendar-o.fa-fw(aria-hidden='true')
									| 2017/02/27
								div.news-title 測試消息，好長好長好長，很高興優秀超級優秀，莫那魯道12342343243243243242344
								div.clear
		include common/footer
