extends common/header

block title
	title 課程推薦系統 | 高大通識中心
block body
	div.wrapper
		h1.title-admin
			a(href="/") 
				|課程推薦系統 | 高大通識中心
		include common/nav
		div.container.bounceInUp.animated.home-page-container
			p 有想修的課，學校卻沒有開的嗎？
			p 快推薦課程，讓通識中心來幫你開課！
			p 開課五步驟，讓您享受極速開課快感！
			ol.open-course-steps
				li 申請課程
				li 並通過3人聯署，通識中心即會開始審查課程
				li 審查通過，進入投票程序
				li 超過15個人投票
				li 開始媒合授課老師，未來這門課就有可能變成通識課程唷！
				