extends common/header

block title
	title 自主開課平台 | 高大通識中心
block body
	body.index-body
		div.wrapper
			h1.title-admin
				| 自主開課平台 | 高大通識中心
			include common/nav
			div.container.bounceInUp.animated.home-page-container
				| !{indexIntro}
				div.news-container
					h2 最新消息
					ul.news-list
						if posts
							each post in posts
								if !post.name
									li.news
										if post.sticky
											div.sticky
												<i class="fa fa-thumb-tack" aria-hidden="true"></i>
										a(href='/post/' + post._id)
											div.news-date
												i.fa.fa-calendar-o.fa-fw(aria-hidden='true')
												| #{post.date}
											div.news-title #{post.title}
											div.clear
						else
							h2 目前沒有消息
		include common/footer
