extends common/header

block title
	title 登入 | 課程推薦系統

block body
	div.login-wrapper.bounceInDown.animated
		h1 登入 | 課程推薦系統
		div.login
			form(method="post")#login
				label.error.hide 驗證失敗，帳號密碼錯誤？
				label
					| 帳號
					span.category  學號
				input(type="text", name="student_id", autofocus).textbox#user
				label 
					| 密碼
					span.category  預設為身份證字號
				input(type="password", name="password").textbox#pass
				input(type="submit", value="登入").button#login-button 