extends common/header

block title
	title 自主開課平台 | 高大通識中心
block body
	body.index-body
		div.wrapper
			h1.title-admin
				| 自主開課平台 | 高大通識中心
			include common/nav
			div.container.bounceInUp.animated.home-page-container
				h2.post-title #{title}
				div.post-date
					i.fa.fa-calendar-o.fa-fw
					|  #{date}
				div.post-content
					| !{content}

		include common/footer
