extends common/header

block title
	title 開課程序 | 自主開課平台

block body
	body.index-body
		div.wrapper.rules
			h1.title-admin *開課程序*
			h2 第一階段：填寫推薦表單
			ul
				li 請在課程推薦系統點選【我要推薦課程】，填寫修課構想書。
				li 推薦之課程以未開設過之博雅通識（2學分）課程為主。
				li 需有本校學生至少3名共同連署。
				li 如何知道該課程已開設過!!請上本校課程查詢系統查詢。<a href="http://course.nuk.edu.tw/QueryCourse/QueryCourse.asp">http://course.nuk.edu.tw/QueryCourse/QueryCourse.asp</a>
			h2 第二階段：揪團
			ul
				li 收到您的表單後，如達3名學生連署，管理員會盡快將您的課程公告於【最近連署課程】的頁面。
				li 開始邀約和你志同道合的同學們上課吧，並至【最近投票課程】投票，申請加入課程。
				li 自開放募集3個月內，當想加入您申請的課程之投票人數達10人以上，中心會通知共同連署學生，進行第一次課程共識會議。
				li 先達投票人數滿10人者，優先開團，每學期以3門為限。
			h2 第三階段：課程共識會議
			ul
				li 通識中心會召集共同連署學生，召開第一次共識會議。 
				li 該課程之學生需在共識會議前，先行填寫【課程共識討論表】，並在共識會議時提出討論，了解各位對這門課程的期待及想要探討之議題，及期望的授課教師。
			h2 第四階段：媒合師資
			ul
				li 通識中心會依排序協助聯繫課程共識會議所討論師資之開課意願。
				li 當師資找到後，會召開師生的共識會議，確保課程內容與品質。
			h2 第五階段：課程送校外委員審查
			ul
				li 由授課教師撰寫該課程「學生學習成果本位評估模式規劃書」。
				li 再由通識中心協助聯繫該課程領域外校委員，並協助寄送審查。
				li 課程須通過2位校外審查委員評定為「通過」後，始得開課。
			h2 第六階段：審核通過→開課
			ul
				li 通過外審，並經由通識中心相關會議確認後即可開課。
			h2 相關連結
			ul
				li
					a(href="http://gec.nuk.edu.tw/ezfiles/1/1001/img/20/677375967.pdf") 國立高雄大學通識教育中心學生自主開課辦法
				li
					a(href="http://gec.nuk.edu.tw/ezfiles/1/1001/img/15/186805113.pdf") 國立高雄大學通識教育中心開課審查辦法
