extends common/header

block title
	title 課程推薦系統 | 高大通識中心
block body
	body.index
		div.wrapper
			h1.title-admin
				a(href="/")
					|課程推薦系統 | 高大通識中心
			include common/nav
			div.container
				h2.title-admin 推薦課程
				form(method="post").suggest-form.pull-left
					div.category 申請人姓名
					input(type="text", readonly, value=name).textbox
					div.category 欲推薦課程名稱
					input(type="text", name="name").textbox
					div.category 欲推薦課程內容說明
					input(type="text", name="desc").textbox
					div.category 推薦師資
					input(type="text", name="teacher").textbox
					input(type="submit", value="推薦課程！").button.ok
				.caution.pull-left.bounceIn.animated
					h3.caution-title 請注意
					p 連署過後，會由通識中心審查課程，不會馬上進入投票程序
					p 不論審查通過與否，都會寄信去您註冊所填寫的信箱通知您結果
				.clear
