extends common/header

block title
	title 自主開課平台 | 高大通識中心
block body
	body.index-body
		div.wrapper
			h1.title-admin
				a(href="/")
					|自主開課平台 | 高大通識中心
			include common/nav
			div.container
				h2.title-admin 推薦課程
				form(method="post").suggest-form.pull-left#formSuggest
					div.category 申請人姓名*
					input(type="text", readonly, value=name).textbox
					div.category 欲推薦課程名稱*
					input(type="text", name="name", required).textbox
					div.category 欲推薦課程內容說明*
					textarea.textbox(name="desc", rows="10", cols="50", required)
					div.category 推薦師資
					input(type="text", name="teacher").textbox
					input(type="checkbox", name="agree", required).checkbox#checkSuggest
					|     我已經詳細閱讀<a target="_blank" href="/rule">自主開課平台相關規定</a>
					input(type="submit", value="推薦課程！").button.disabled#btnSuggest
				.caution.pull-left.bounceIn.animated
					h3.caution-title 請注意
					p 連署過後，會由通識中心審查課程，不會馬上進入投票程序
					p 不論審查通過與否，都會寄信去您註冊所填寫的信箱通知您結果
				.clear
		include common/footer
