extends common/header

block title
	title 自主開課平台 | 高大通識中心
block body
	body.index-body
		div.wrapper
			h1.title-admin
				a(href="/")
					|自主開課平台 | 高大通識中心
			include common/nav
			div.container
				table.userlist
					tr
						th 學號
						th 姓名
						th 系所
					each user in users
						tr
							td #{user.student_id}
							td #{user.username}
							td #{user.dept}

			include common/footer
