*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	height: 100%
}

body{
	color: #111;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans TC', sans-serif;
	/*background-color: #fcfcfc;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.login-body{
	background-image: url(../img/indexBackground.jpg);
}

.index-body{
	background-image: url(../img/loginBackground.jpg);
}

h1 a{
	text-decoration: none;
	display: block;
	transition: color .5s;
	color: #111
}

h1 a:hover {
	color: #4286f4
}

button {
	border: none;
	outline: none;
}

.btn {
	cursor: pointer;
	font-size: 1.2rem;
	padding: .7rem;
	border-radius: 5px;
}

.btn a {
	color: inherit;
	text-decoration: none;
	margin: 0;
}

.root-buttons-container{
	margin-top: 1rem;
	text-align: center;
}

.root-buttons-container button {
	margin-left: 2rem;
}

.btn-danger {
	background-color: #ed2323;
	color: #fff;
}

.anti-vote {
	padding: 1rem 0;
	text-align: center;
}

.btn-danger:hover {
	background-color: #ad0a0a
}

.btn-success {
	background-color: #13B665;;
	color: #fff;
}

.btn-success:hover {
	background-color: #0f9150;;
}

.btn-Primary {
	background-color: #0c68cc;
	color: #fff;
}

.btn-Primary:hover {
	background-color: #09509b;
}

.btn-warning {
	background-color: #777321;
	color: #fff
}

.btn-warning:hover {
	background-color: #595618;
	color: #fff
}

.nav {
	transition: color .5s;
}

.nav:hover {
	color: red;
}

.login-wrapper{
	width: 100%;
	height: 100%;
	margin: 5vh auto 0;
	text-align: center;
}

.login{
	background: rgba(200,200,200,0.8);
	max-width: 350px;
	width: 100vw;
	margin: 0 auto;
	text-align: left;
	box-shadow: 1px 1px 5px 2px #777;
	font-size: 1.2rem;
	padding: 1rem;
	text-align: center;
}

.login-link {
	letter-spacing: .1rem;
	color: #fff;
	padding: .5rem;
	background-color: #111;
	border-radius: 5px
}

.login-link:hover {
	background-color: #fff;
	color: #111;
}

.text-right {
	text-align: right;
}

.wrapper{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
	font-size: 1.1rem;
	background: rgba(200,200,200,0.8);
}

#sec_footer {
	margin: 0 auto;
	max-width: 1000px;
	font-size: 1.2rem;
	line-height: 1.5rem;
	background-color: rgba(93, 148, 193, 0.85);
	padding: 1.2rem
}

.footer-content {
	list-style: none;
}

.footer-content li{
	letter-spacing: .1rem;
	line-height: 1.8rem;
}

.home-page-container {
	font-size: 1.5rem;
	color: #111;

}

.open-course-steps li{
	margin-top: .5rem;
}

.courses-teacher {
	padding: 1rem;
	font-size: 1rem
}

.container, .container_nav{
	position: relative;
	padding: 1rem;
	max-width: 1200px;
	margin: .5rem auto;
}

.container_nav{
	text-align: center;
	padding: .5rem 1rem;
	margin-bottom: -0.5rem;
	border-bottom: 1px solid #111;

}

.container-small{
	max-width: 350px;
}

.title-admin{
	text-align: center;
}

.courses ul{
	padding: 0;
}

.courses ul li{
	display: block;
	list-style: none;
	padding: 1rem 2rem;
	position: relative;
	border-bottom: 1px solid #111;

}

.courses-name{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.8rem;
}

.courses-date{
	text-align: center;
	font-size: 1.2rem;
	margin-top: 1rem;
	line-height: 1.5rem;
	position: relative;
}

.courses-count{
	text-align: right;
	font-size: 1.2rem;
	position: absolute;
	right: 0;
	top: 0;
}

.courses-references {
	margin-top: .5rem;
	margin-left: 1rem;
	position: absolute;
	left: 0;
	top: 0;
}

.courses-desc{
	margin-top: .5rem;
	padding: .5rem;
	font-size: 1.2rem;
	line-height: 2rem;
	letter-spacing: .5px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.msg-wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(10,10,10, 0.9);
	display: none;
}

.msg{
	margin: 5% auto 0;
	width: 50%;
	position: relative;
}

.msg-title{
	padding: .5rem;
	background: #ff4500;
}

.msg-close{
	position: absolute;
	top: .25rem;
	right: .75rem;
	font-size: 1.2rem;
	cursor: pointer;
}

.msg-content{
	padding: 1rem;
	background: #ccc;
}

.msg-ok{
	width: 50%;
	display: inline-block;
	text-align: center;
	padding: .5rem 0;
	background: #13B665;
	cursor: pointer;
}

.msg-no{
	width: 50%;
	display: inline-block;
	text-align: center;
	padding: .5rem 0;
	background: #BD471B;
	cursor: pointer;
}

.news-list {
	border: 1px solid #111;
	list-style: none;
	padding-left: 0
}

.news {
	padding: 1rem;
	border-bottom: 1px solid #111;
}

.news a {
	color: #111;
	text-decoration: none;
	transition: color .2s
}

.news a:hover {
	color: #ba1d35
}

.news-date {
	font-size: 1.2rem;
	float: right;
}

.news-title {
	font-size: 1.2rem
}

.post-title {
	text-align: center;
}

.post-date {
	text-align: center;
}

.post-content {
	padding: 0rem 1rem 1rem 1rem;
	line-height: 1.5rem
}

.admin-edit, .admin-edit:visited{
	color: #1565C0;
}

.admin-edit:hover, .admin-edit:visited:hover{
	color: #1E88E5;
}

label{
	display: block;
	text-align: left;
}

.checkbox{
	-webkit-transform: scale3d(2, 2, 1);
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}

.textbox{
	display: block;
	border: 0;
	outline: 0;
	background: transparent;
	padding: .5rem 1rem;
	margin: .5rem;
	width: calc(100% - 3rem);
	border-bottom: 1px solid #555;
}

.textbox:focus{
	border-bottom: 1px solid #333;
}

.checkbox{
	-webkit-transform: scale3d(2, 2, 1);
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}

.button{
	text-align: center;
	border-radius: 5px;
	background-color: #13B665;
	color: #fff;
	border: none;
	padding: 1rem 1rem;
	margin: 1rem auto;
	display: block;
	cursor: pointer;
}

.button:hover{
	background: #0f9150;
}

#add-profile-data, #add-equipment-data{
	width: 100%;
}

nav ul{
	padding: 0;
}

nav ul li{
	display: inline-block;
	margin-left: 1rem;
	list-style: none;
}

nav ul li a{
	display: block;
	text-decoration: none;
	color: inherit;
	/*font-weight: 600;*/
	font-size: 1.3rem;
	color: #111
}

.suggest-form {
	padding: .5rem;
	width: 50%;
}

.suggest-form .category {
		color: #111;
		font-size: 1rem
}

.caution {
	width: 50%;
	height: 45vh;
	padding: 1rem
}

.caution h3 {
	font-weight: bold;
	color: #fff;
	letter-spacing: .3rem
}

.category{
	margin: .5rem 0;
	font-size: .9rem;
	color: #555;
}

.equip{
	display: inline-block;
	margin: .5rem .2rem;
}

.label-equip, .label-log{
	font-weight: 300;
	margin: 0 .5rem;
	display: inline-block;
}

.logs{
	padding: 1rem .5rem .5rem .5rem;
	border-bottom: 1px solid #aaa;
}

.logs:hover{
	background: #cdcdcd;
}

table, td{
	border: 1px solid black;
}

table{
	border-collapse: collapse;
}

.table-admin-option{
	background: #333;
	color: #efefef;
	padding: 1rem;
	text-decoration: underline;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	border-radius: 2rem;
	line-height: 2rem;
	text-align: center;
	animation-duration: .2s;
}

.table-admin-option:hover{
	background: #424242;
}

.table-admin-option a, .table-admin-option a:visited{
	color: inherit;
}

.table-admin-option{
	display: block;
}

.course.old{
	color: #555;
}

.half{
	max-width: 250px;
}

.full{
	width: 100%;
}

.hide{
	display: none;
}

.error{
	color: red;
}

.clear{
	clear: both;
}

.black{
	color: #333;
}

.white{
	color: #fff;
}

.default{
	background: #477C9C;
}

.label-disabled, .chk-disabled{
	color: #cdcdcd;
}

.disabled{
	background: #cdcdcd;
	border: 0;
}

.disabled:hover{
	background: #cdcdcd;
	cursor: default;
}

.ok{
	background: #13B665;
}

.no{
	background: #BD471B;
}

.rules li{
	line-height: 1.6rem;;
}

.news-admin-list, .news-admin-news-container {
	list-style: none;
}

.news-admin-list {
	border: 1px solid #111;
	padding-left: 0
}

.news-admin-news {
	border-bottom: 1px solid #111;
	padding: 1rem
}

.news-admin-list-title {
	padding: 12px;
}

.new-admin-list-date-button-wrapper {
	float: right;
}

.new-admin-list-date-button-wrapper * {
	margin-left: 1rem
}

.sent-news-button {
	width: 100%;
	margin-top: 1rem
}

.sticky {
	float: left;
	padding-right: .5rem
}

@media screen and (max-width: 480px) {
	.news-date {
		float: none;
		display: block;
	}

	.news-title {
		margin-top: .5rem
	}

	.wrapper {
		padding: 0
	}

	.container {
		padding: 0
	}

	.button-remove-course {
		margin: 0 auto;
		float: none !important;
		display: block;
	}

	.home-page-container {
		font-size: 1.2rem;
	}

	.open-course-steps li {
		line-height: 2rem
	}

	.title-admin {
		margin: 0;
		font-size: 1.5rem;
		padding: 1rem 0;
	}

	.container_nav {
		padding: 0;
		margin: 0
	}

	.login-link {
		letter-spacing: .1rem;
		color: #111;
		padding: .5rem;
		background-color: transparent;
		border-radius: 5px
	}

	.login-link:hover {
		background-color: transparent;
		color: #111
	}


	nav ul {
		margin: 0
	}

	nav ul li{
		text-align: center;
		margin: 0;
		padding: .5rem;
		width: 100%;
		list-style: none;
	}

	.suggest-form {
		width: 100%;
	}



	.caution {
		width: 100%;
		padding: 1rem
	}

	.courses-name {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.courses-date {
		margin-top: .5rem;
		text-align: center;
	}

	.courses-end-count {
		display: block;
	}

	.courses-count {
		position: static;
	}

	.courses-references {
		position: static;
		text-align: left;
	}

	.courses-desc {
		margin-top: .2rem;
		font-size: 1.2rem;
		line-height: 2rem;
	}

}
