div#sec_footer
	div.footer-content-container
		ul.footer-content
			li
				a(href="http://gec.nuk.edu.tw/bin/home.php")  @高雄大學通識教育中心
			li
				i.fa.fa-phone.fa-fw(aria-hidden='true')
				a(href="tel:+88675919043")  886-7-5919043
			li
				if(opt)
					if(opt.adminMail)
						i.fa.fa-envelope.fa-fw(aria-hidden='true')
						a(href="mailto:"+opt.adminMail)  #{opt.adminMail}
					else
						i.fa.fa-envelope.fa-fw(aria-hidden='true')
						a(href="mailto:guannn@nuk.edu.tw")  guannn@nuk.edu.tw
				else
					i.fa.fa-envelope.fa-fw(aria-hidden='true')
					a(href="mailto:guannn@nuk.edu.tw")  guannn@nuk.edu.tw
			li
				i.fa.fa-map-marker.fa-fw(aria-hidden='true')
				|   行政大樓北棟3樓

div.msg-wrapper
	div.msg
		div.msg-close
			i.fa.fa-close
		header
			div.msg-title 標題
		div.msg-content 內容
		div.msg-buttons
			div.msg-ok 好
			div.msg-no 不好

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
script(src="/public/js/md5.min.js")
script(src="/public/js/all.js")
