div.msg-wrapper
	div.msg
		div.msg-close
			i.fa.fa-close
		header
			div.msg-title 標題
		div.msg-content 內容
		div.msg-buttons
			div.msg-ok 好
			div.msg-no 不好

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
script(src="/public/js/md5.min.js")
script(src="/public/js/all.js")
footer#sec_footer