div#sec_footer
	div.footer-content-container
		ul.footer-content
			li
				i.fa.fa-phone.fa-fw(aria-hidden='true')
				|  886-7-5919486
			li
				i.fa.fa-fax.fa-fw(aria-hidden='true')
				|  886-7-5919044
			li
				i.fa.fa-map-marker.fa-fw(aria-hidden='true')
				|   81148 高雄市楠梓區高雄大學路700號 No.700,Kaohsiung University Rd.,Nan Tzu Dist.,811.Kaohsiung,Taiwan, R.O.C./通識中心位置:行政大樓北棟3樓

div.msg-wrapper
	div.msg
		div.msg-close
			i.fa.fa-close
		header
			div.msg-title 標題
		div.msg-content 內容
		div.msg-buttons
			div.msg-ok 好
			div.msg-no 不好

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
script(src="/public/js/md5.min.js")
script(src="/public/js/all.js")
