doctype html
html(lang="zh-Hant-TW")
	head
		meta(name="viewport",content="width=device-width, initial-scale=1.0",
			charset="utf-8")
		block title
			title Default Title

		link(rel="stylesheet", href="/public/css/style.css")

		// normalize
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")

		// Google-Font
		link(rel="stylesheet", href="//fonts.googleapis.com/earlyaccess/notosanstc.css")

		// animate-css
		link(rel="stylesheet", href="/public/css/animate.css")

		// font-awesome
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")

		// html5shiv
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		block addtional_header

	block body

