div.container_nav#con_nav
	nav
		ul
			li
				if !isLogin
					a(href="/login").nav.login-link
						i.fa.fa-user
						| 登入
				else
					a(href="/logout").nav.login-link
						i.fa.fa-user
						| 登出
			li
				a(href="/suggest").nav 我要推薦課程
			li
				a(href="/petition").nav 最近連署課程
			li
				a(href="/vote").nav 最近投票課程
			li
				a(href="#").nav 最近開設課程
			if isRoot
				li
					a(href="/admin").nav 系統管理
